<h3>送信完了しました</h3>
  <div>
    名前
    <%= @contact.name %>
  <div>
  <div>
    メールアドレス
    <%= @contact.email %>
  <div>
  <div>
    件名
    <%= @contact.subject %>
    </br>
    本文
    <%= @contact.message %>
  <div>