<h3>ニュース一覧</h3>
<% @information.each do |information| %>
 <div>
  <%= link_to admin_information_path(information) do %>
    <%= information.created_at.strftime('%Y/%m/%d') %>
    <%= information.admin_genre.name %>
    <%= information.information_title %>
  <% end %>
<% end %>  