<article class= "container">
  <div class= "row offset-3 mt-3 mb-n5">
    <%= render 'layouts/error_messages', model: @memory %>
  </div>
  
  <div class= "row mt-5">
    <h2 class= "h4 font-weight-bold col-md-4 offset-1">投稿フォーム</h2>
  </div>
  
    <%= render 'form', memory: @memory %>
</article>
