<div><%= @contact.name %> 様 から問い合わせがありました。</div>

<div>【メールアドレス】:<%= @contact.email %></div></br>

<div>【件名】:<%= @contact.subject %></div></br>
<div>【お問い合わせ内容】</div></br>
<div><%= safe_join(@contact.message.split("\n"),tag(:br)) %></div>