    <% information.each do |information| %>
      <%= link_to information_path(information) do %>
        <ul>
          <li>
            <%= information.created_at.strftime('%Y/%m/%d') %>
            <%= information.admin_genre.name %>
            <%= information.information_title %>
          </li>
        </ul> 
      <% end %>
    <% end %>
