  <div class= "row mt-5">
    <div class="col-10 offset-1 border-bottom border-2">
      <h1 class="h2 font-weight-bold col-md-4">ニュース一覧</h1>
    </div>
  </div>
<%= render "index", information: @information %>
<div class="d-flex justify-content-center mt-4">
  <%= paginate @information %>
</div>